body {	font-family: Arial, Helvetica, sans-serif;
		font-size: .875em;
	    line-height: 1.7em;
		border-top: 3px solid #fc4903;
		background: #eaeaea url(img/crosshatch.png) repeat;
		color: #669;
}

row	{
		display: block;
	}
	

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	padding: 10px;
	display: block;
    max-width: 350px;;
    height: 180px;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
	padding-right: 10px;
	}

a {
    background-color: transparent;
	padding-right: 10px;
}

